header.masthead .header-content .header-content-inner {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-top: 30px;
}

.btn-xl {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
}

.btn-primary {
    border-color: rgb(246, 232, 223);
    background-color: rgba(246, 232, 223, 1);
}

.bg-primary {
    background: rgba(246, 232, 223, 0.5) !important;
}

.fa {
    color: #19232c;
}

.develop-conn {
    width: 95%;
    height: 95%;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.develop-conn>p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: left;
    text-indent: 2em;
    color: rgba(255, 255, 255, .7);
}

.title1 {
    text-align: center;
    font-weight: 400;
    color: #fff;
}

section {
    padding: 60px 0;
}


/*计算器*/

@media (min-width: 992px) {
    .calculator {
        padding: 3.5em 5.5em;
        margin: 50px auto;
    }
}

.calculator {
    background: rgba(246, 232, 223, 0.5) !important;
    margin: 30px auto;
    border-radius: 5px;
    padding: 15px 5px;
}

.from,
.to {
    height: 40px;
}

.tip {
    float: left;
    font-size: 14px;
    min-width: 40px;
    max-width: 60px;
    height: 30px;
    line-height: 30px;
}

.conn {
    float: left;
}

select {
    height: 30px;
    border-radius: 5px;
}

.submit {
    text-align: center;
}

.btn {
    border-radius: 50%;
}

#sbm {
    /*width: 94px;
    height: 35px;
    line-height: 35px;*/
    text-align: center;
}

.table {
    border: 1px solid grey;
    text-align: center;
    background: #f2e4dc;
}

.table td,
.table th {
    padding: .1em;
    text-align: center;
}

.table td {
    border: none;
}

.table th {
    border-top: 1px solid grey;
}

.btn-default:hover {
    color: #fff;
    border-color: #eb7f41;
    background-color: #f4a172;
}

.btn {
    background: #ffa674;
    color: #fff;
}

.notes {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    color: #b61c1c;
}

.title {
    margin-top: 10px;
}

.title,
.title2 {
    margin-bottom: 5px;
    text-align: left;
}

.fromcity,
.tocity,
.long {
    padding: 0 5px;
    font-weight: bold;
}

.highSpeed {
    background: #fbb03b;
    color: #fff;
}

.p2 {
    text-align: left;
}

@media (min-width: 992px) {
    .p2 {
        text-align: center;
    }
}

.compareImg,
.compareImg1 {
    width: 100%;
    height: 100%;
}

#sbm {
    border-radius: 5px;
}

.chart2 {
    background: #666;
}

#economy {
    padding: 0 0 30px;
}

.p3 {
    text-align: left;
    text-indent: 2em;
}

.station {
    background: rgba(246, 232, 223, 0.5) !important;
    margin: 30px auto;
    border-radius: 5px;
    padding: 15px 5px;
}

.question-title {
    color: #f7af9f;
}

.answer {
    background: rgba(246, 232, 223, 0.5) !important;
    padding: 10px 5px;
    border-radius: 5px;
    color: #000;
}

.fenbu {
    padding-top: 25px;
}

.datatip {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #333;
}

@media (min-width: 992px) {
    .result {
        padding-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .travel {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .result2 {
        padding-top: 100px;
    }
    .result2>p {
        width: 80%;
        margin: 0 auto;
    }
}

.all {
    background: rgba(246, 232, 223, 0.5) !important;
    margin: 30px auto;
    border-radius: 5px;
    padding: 15px 5px;
}

.end {
    margin: 10px auto;
    padding: 0px 20px;
}

#end {
    background: rgba(246, 190, 106, 0.6);
}